main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(auto,auto);
    width: 100%;

}
@media (min-width: 480px){
main{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-auto-rows: minmax(auto,auto);
    width: 100%;

}
}
#filters{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;

}
a{
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    margin: 4px;
    cursor: pointer;

}
body{
    font-family: Arial, Helvetica, sans-serif;
}
a:hover {
    background-color: #ddd;
    color: black;
  }
main > div{
    border: 5px;
    border-style: solid;
    border-color: grey;
}
div{
    display: inline-block;
    

}
p{
    margin: 0em;
    padding-top: 0em;
    padding-right: 0em;
    padding-left: 1em;
}
img{
    height: 300px;
    width: 300px;
    object-fit: scale-down;
}

h1,h2{
    text-align: center;
    font-size: 4em;
    
}
nav{
    width: 100%;
}
li{
    display: inline-block;
    color: white;
    
}
ul{
    padding: 14px 16px;
    background-color: #333;
    width: 100%;
    margin: 3px;
    display: inline-block;
}
